.Header > div{
   
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: min-content;
    padding-top: 10vh;
  
}
.Header{
    height: 100vh;
    background-color: #ffff;
    margin-top: 4200px;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    
}

h1{
    font-size: 150px;
    color: #193F73;
    
    
    
    /* -webkit-text-stroke: 3px  #193F73; */
}